---
layout: page
title: Engines
permalink: /engines/
append_head: |-
  <script src="https://unpkg.com/chart.js@4.4.2" integrity="sha256-x+LL+wNI+ZAd7MSX8xbB/qhCAgm2EEEv+4j9PVFvnTA=" crossorigin="anonymous" defer=""></script>
  <script>
    const charts = [];
    document.addEventListener("DOMContentLoaded", () => {
      console.log({{ site.data.engines.chartjs | jsonify }});
      new Chart(document.getElementById("chart-engines"), {{ site.data.engines.chartjs | jsonify }});
    });
  </script>
---

{%- capture height %}{{ site.data.engines.chartjs.data.labels | size }}{% endcapture %}
<p>{% include chart.html id="chart-engines" height=height %}</p>

{%- assign engines = site.data.engines.engines | sort_natural: "display_name" %}
{%- for engine in engines %}
<details id="{{ engine.display_name | slugify }}" class="h2 engine" open="">
  <summary><div><h2>{{ engine.display_name }}</h2></div></summary>
  <table style="width: fit-content;">
    <tr>
      <th>Torque</th>
      <td class="right">{{ engine.torque }}</td>
    </tr>
    <tr>
      <th>Fuel Consumption</th>
      <td class="right">{{ engine.fuel_consumption }}</td>
    </tr>
  </table>
  {% include truck-list.html trucks=engine.trucks %}
  <h3>Raw Data</h3>
  <details class="h4">
    <summary><div><h4>Python</h4></div></summary>
    <pre>{{ engine.python }}</pre>
  </details>
</details>
{%- endfor %}
