---
layout: page
title: Trucks
permalink: /trucks/
append_head: |-
  <script src="https://unpkg.com/chart.js@4.4.2" integrity="sha256-x+LL+wNI+ZAd7MSX8xbB/qhCAgm2EEEv+4j9PVFvnTA=" crossorigin="anonymous" defer=""></script>
  <script>
    const charts = [];
    document.addEventListener("DOMContentLoaded", () => {
      for(const [elem, options] of charts) {
        if(elem) {
          new Chart(elem, options);
        } else {
          console.log("cannot plot", options, "no element");
        }
      }
    });
  </script>
---

{% assign trucks = site.data.trucks | sort_natural: "display_name" -%}
{% for truck in trucks -%}
<details id="{{ truck.slug }}" class="h2" open="">
  <summary><div><h2>{{ truck.display_name }}</h2></div></summary>
  <div class="truck">
    <img alt="Image of {{ truck.display_name }}" src="https://raw.githubusercontent.com/VerZsuT/SnowRunner-XML-Editor-Desktop/main/src/images/trucks/{{ truck.slug }}.jpg" />
    <div class="info">
    {%- if truck.urls %}
      <p>Links:
      {%- for url in truck.urls %}
        {%- unless forloop.first %}
        &centerdot;
        {%- endunless %}
        <a href="{{ url.url }}" target="_blank">{{ url.site }}</a>
      {%- endfor -%}
      </p>
    {%- endif %}
    {% for chart in truck.charts -%}
      <h3>{{ chart.name }}</h3>
      <details class="h4" open="">
        <summary><div><h4>Chart</h4></div></summary>
        {% capture id %}{{ truck.slug }}-chart-{{ chart.name | slugify }}{% endcapture -%}
        {% capture height %}{{ chart.chartjs.data.labels | size }}{% endcapture -%}
        {% include chart.html id=id height=height %}
        <script>charts.push([document.getElementById("{{ id }}"), {{ chart.chartjs | jsonify }}]);</script>
      </details>
      <details class="h4">
        <summary><div><h4>Table</h4></div></summary>
        <table>
          <thead>
            <tr>
              <th>Name</th>
            {% for dataset in chart.chartjs.data.datasets -%}
              <th>{{ dataset.label }}</th>
            {% endfor -%}
          </thead>
          <tbody>
          {% for label in chart.chartjs.data.labels -%}
            <tr>
              <td><a href="{{ "/engines/" | relative_url }}#{{ label | slugify }}">{{ label }}</a></td>
            {% assign i = forloop.index0 -%}
            {% for dataset in chart.chartjs.data.datasets -%}
              <td class="right">{{ dataset.data[i] }}</td>
            {% endfor -%}
            </tr>
          {% endfor -%}
          </tbody>
        </table>
      </details>
    {% endfor -%}
      <h3>Raw Data</h3>
      <details class="h4">
        <summary><div><h4>Python</h4></div></summary>
        <pre>{{ truck.python }}</pre>
      </details>
    </div>
  </div>
</details>
{% endfor -%}
