.wrapper {
  max-width: none;
}
.right {
  text-align: right;
}

/**
 * details
 */
details {
  border: 1px solid var(--minima-border-color-01);
  padding: 5px;
  margin-bottom: 15px;

  & > summary > div {
    display: inline-flex;
  }
}

/**
 * headings
 */
details.h2, details.h3, details.h4, details.h5 {
  margin-top: 30px;
  &[open] > summary {
    margin-bottom: 15px;
  }
  & > summary {
    &::marker {
      font-size: 1rem;
    }
    h2, h3, h4, h5 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}
details.h2 > summary::marker {
  font-size: 2rem;
}
details.h3 > summary::marker {
  font-size: 1.625rem;
}
details.h4 > summary::marker {
  font-size: 1.5rem;
}
details.h4 > summary::marker {
  font-size: 1.125rem;
}
h2, h3, h4, h5 {
  &:first-child {
    margin-top: 0 !important;
  }
}

.truck, .engine {
  :last-child {
    margin-bottom: 0 !important;
  }
}

/**
 * truck info
 */
.truck {
  display: flex;
  align-items: flex-start;
  gap: 15px;

  & > img {
    max-width: 25%;
  }

  & > .info {
    flex: 1;
    max-width: calc(75% - 15px);
  }

  .charts-container {
    display: flex;
    overflow-x: scroll;
  }
  .chart {
    position: relative;
    min-height: 12rem;
    /*
    max-height: 25vh;
    */
    resize: vertical;
  }
}

/**
 * engine chart
 */
.engines-chart {
  min-height: 20rem;
  /*
  max-height: 50vh;
  */
}
